/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Aug 11, 2022, 12:38:29 PM
    Author     : Admin
*/
.banner {
    padding: 2rem 0;
    background: #f4f5f7;
    color: #7f8fa9;
}

.banner__content {
    color: #f96825;
    font-size: 32px;
    margin-bottom: 0;
}

.breadcrumb-item a {
    float: left;
    justify-content: center;
    background-color: none;
    color: black !important;
}

.breadcrumb {
    background-color: #f4f5f7 !important;
    justify-content: center !important;
}

.breadcrumb-item.active a {
    color: #4a5682 !important;
}

.customs-control-label {
    position: relative;
    margin-bottom: 0;
    color: #767676;
    vertical-align: top;
    padding-left: 2rem;
}

.custom-control-input {
    z-index: -1;
    width: 1.125rem;
    height: 1.3125rem;
    opacity: 0;
}

.list-group-item {
    border: 2px solid #e0e4ec;
}

.custom-control-label img {
    max-width: 70px;
}

.list-group-sm .list-group-item {
    padding: 1.25rem 1.25rem;
}

.btn {
    color: #000 !important;
}

.selection {
    padding: 80px 0 80px;
    position: relative;
}

.color {
    color: red;
}

.product_title {
    position: relative;
    text-align: left;
    display: inline-block;
}

.tbl_pr_title {
    margin-bottom: 2px;
    font-size: 17px;
}

.tbl_pr_quality {
    font-size: 13px;
    color: #647b9c;
    font-weight: 400;
}

.tbl_quan {
    max-width: 85px;
    height: 45px;
    background: #f4f5f7;
    font-weight: 600;
}

